.header {
  position: relative;
}

.header__car-content {
  width: 100vw;
  height: 150px;
}

.header__car {
  animation: move 10s linear infinite;
  -moz-animation: move 10s linear infinite;
  -webkit-animation: move 10s linear infinite;
  z-index: 999;
  width: 200px;
  height: 70px;
  bottom: 0px;
  left: 30px;
  position: absolute;
}

.header__car-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__wheel-img {
  animation: rotation 1s infinite linear;
  position: absolute;
  width: 30px;
  height: 30px;
}

.header__wheel-img-left {
  left: 20px;
  bottom: 0;
}

.header__wheel-img-right {
  right: 27px;
  bottom: 0;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes move {
  from {
    left: -25%;
  }
  to {
    left: 100%;
  }
}
