.header {
  position: relative;
}

.header__city {
  width: 100vw;
  z-index: -1;
  height: 77vh;
  background-repeat: repeat;
  background-position: 0 0;
  background-size: auto 100%;
  animation: animatedCity 20s linear infinite;
}

.header__car {
  animation: move 10s linear infinite;
  -moz-animation: move 10s linear infinite;
  -webkit-animation: move 10s linear infinite;
  z-index: 999;
  width: 200px;
  height: 70px;
  bottom: 20px;
  left: 30px;
  position: absolute;
}

.header__car-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__wheel-img {
  animation: rotation 1s infinite linear;
  position: absolute;
  width: 30px;
  height: 30px;
}

.header__wheel-img-left {
  left: 20px;
  bottom: 0;
}

.header__wheel-img-right {
  right: 27px;
  bottom: 0;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes move {
  from {
    left: -25%;
  }
  to {
    left: 100%;
  }
}

@keyframes animatedCity {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 0;
  }
}
