.presentation-section__title-content {
  align-self: flex-end;
  margin: 0 auto;
  width: 380px;
}

.presentation-section__title {
  font-family: "Cocogoose";
  font-weight: 100;
  font-size: 5rem;
  color: white;
  text-align: center;
}

.presentation-section__subtitle {
  font-family: "Roboto Serif";
  font-weight: 100;
  font-size: 2rem;
}

@media (max-width: 992px) {
  .presentation-section__title {
    font-size: 3rem;
  }

  .presentation-section__subtitle {
    font-size: 1.5rem;
  }
}
