.presentation-section {
  position: relative;
  display: flex;
  flex-direction: column;
}

.presentation-section__car-content {
  width: 100vw;
}

.presentation-section__car {
  animation: move 10s linear forwards;
  -moz-animation: move 10s linear forwards;
  -webkit-animation: move 10s linear forwards;
  z-index: 999;
  width: 250px;
  height: 80px;
  bottom: 0px;
  left: 30px;
  position: absolute;
}

.presentation-section__umbrella-img {
  width: 390px;
  height: 125px;
  position: absolute;
  top: -78px;
  left: -68px;
}

.presentation-section__car-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.presentation-section__wheel-img {
  animation: rotation 1.5s infinite linear;
  position: absolute;
  width: 30px;
  height: 30px;
}

.presentation-section__wheel-img-left {
  left: 30px;
  bottom: 3px;
}

.presentation-section__wheel-img-right {
  right: 38px;
  bottom: 3px;
}

.presentation-section__title-content {
  align-self: flex-end;
  margin-right: 30%;
  width: 300px;
}

.presentation-section__title {
  font-family: "Cocogoose";
  font-weight: 100;
  font-size: 5rem;
  color: white;
  text-align: center;
  width: 0;
  white-space: nowrap;
  overflow: hidden;
}

.reveal-left {
  animation: reveal-left 1.5s linear 1;
  -moz-animation: reveal-left 1.5s linear 1;
  -webkit-animation: reveal-left 1.5s linear 1;
  animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes move {
  1% {
    left: -25%;
  }
  99% {
    opacity: 1;
  }
  100% {
    left: 120%;
    opacity: 0;
    display: none;
  }
}

@keyframes reveal-left {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
