* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: rgb(209, 93, 92, 0.3);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a {
  color: unset;
  text-decoration: none;
}

.gradient__bg {
  /* ff 3.6+ */
  background: -moz-linear-gradient(
    180deg,
    var(--color-highlight) 0%,
    var(--color-highlight) 52%,
    var(--color-primary) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    180deg,
    var(--color-highlight) 0%,
    var(--color-highlight) 52%,
    var(--color-primary) 100%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    180deg,
    var(--color-highlight) 0%,
    var(--color-highlight) 52%,
    var(--color-primary) 100%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F4C1C1', endColorstr='#98180D', GradientType=1 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    180deg,
    var(--color-highlight) 0%,
    var(--color-highlight) 52%,
    var(--color-primary) 100%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    180deg,
    var(--color-highlight) 0%,
    var(--color-highlight) 52%,
    var(--color-primary) 100%
  );
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-shadow {
  text-shadow: -12px 4px 16px var(--color-highlight);
}

.full-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__padding {
  padding: 4rem clamp(2rem, 6rem);
}

.section__margin {
  margin: 4rem clamp(2rem, 6rem);
}
