@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,200;0,8..144,300;0,8..144,400;0,8..144,500;0,8..144,600;0,8..144,700;0,8..144,800;0,8..144,900;1,8..144,100;1,8..144,200;1,8..144,300;1,8..144,400;1,8..144,500;1,8..144,600;1,8..144,700;1,8..144,800;1,8..144,900&display=swap");

:root {
  --font-family: "Roboto Serif", sans-serif;

  --gradient-text: linear-gradient(90deg, #98180d 1.84%, #d15d5c 102.67%);

  --color-primary: #d15d5c;
  --color-secondary: #354651;
  --color-highlight: #98180d;
  --color-text-primary: #fff;
  --color-text-secondary: #f4c1c1;
}
